* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: sans-serif;
    color: #333;
}

.wrapper {
    height: 100vh;
    display: grid;
    gap: 5px;
}           

.wrapper > div {  
    background-color: rgb(31, 230, 48);
    border: 1px solid #333;
    padding: 5px;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrapper > div:nth-child(odd) {
    background-color: rgb(8, 248, 248);
}